
# Ignore PyPI stuff
build
dist
gswidgetkit.egg-info
pypi.txt

# Ignore vscode
.vscode

# Ignore python misc.
__pycache__

# Ignore various files
buffered_with_controls.py
image_picker.py
env
.DS_Store
